$great_vibes_font: "Great Vibes", cursive;
$open_sans_font: "Open Sans", sans-serif;
$poppins_font: "Poppins", sans-serif;
$raleway_font: "Raleway", sans-serif;
$default_font_size: 17px;
$main_red: #cc0001;
$black_primary: #252525;
$black_secondary: #1f1f1f;
$text_color: #464545;
$color_white: #ffffff;
$title_color: #272727;
$title_font_size: 70px;
$details_link_color: #1a1a1a;
$review_author_text_color: #ede7e8;
$review_author_font_size: 24px;
$review_text_color: #fffcfc;
$review_text_font_size: 20px;
$quote_icon_color: #f5f4f4;
$quote_icon_font_size: 32px;
$contact_form_elements_color: #f5f2f2;
$contact_form_button_bg: #f74f64;
$footer_main_color: #eaeaea;
$footer_column_title_font_size: 30px;
$subscribe_placeholder_color: #918f8f;
$subscribe_button_color: #fd4d1b;
$copyright_color: #fcfcfc;
$translate_x: translateX(-50%);
$translate_y: translateY(-50%);
$translate_xy: translate(-50%, -50%);
$transition_all: all ease-in-out 0.3s;
$transition_bg_color: background-color ease-in-out 0.3s;
$transition_color: color ease-in-out 0.3s;
$transition_opacity: opacity ease-in-out 0.3s;
$transition_left: left ease-in-out 0.3s;